body{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: rgb(50, 241, 255);
    height: 90vh;
    width: 35%;
}

.infodispensador{
    background-color: rgb(114, 255, 79);
    height: 45vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.infedispensador{
    background-color: rgb(33, 240, 195);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.infedispensador button{
    padding: 1%;
    border-radius: 5px;
    cursor: pointer;
}

.info{
    background-color: white;
    padding: 2%;
    width: 35%;
    text-align: end;
}
